<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,134},{38,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,280}}</string>
                <key>sourceSize</key>
                <string>{38,280}</string>
            </dict>
            <key>ad10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,134},{27,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,280}}</string>
                <key>sourceSize</key>
                <string>{27,280}</string>
            </dict>
            <key>ad11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{27,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,223}}</string>
                <key>sourceSize</key>
                <string>{27,223}</string>
            </dict>
            <key>ad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,134},{40,279}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,279}}</string>
                <key>sourceSize</key>
                <string>{40,287}</string>
            </dict>
            <key>ad3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,107},{27,282}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{27,282}}</string>
                <key>sourceSize</key>
                <string>{27,292}</string>
            </dict>
            <key>ad4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,134},{45,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,279}}</string>
                <key>sourceSize</key>
                <string>{45,279}</string>
            </dict>
            <key>ad5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{41,280}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{41,280}}</string>
                <key>sourceSize</key>
                <string>{49,280}</string>
            </dict>
            <key>ad6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,27},{27,252}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{27,252}}</string>
                <key>sourceSize</key>
                <string>{35,268}</string>
            </dict>
            <key>ad7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{26,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,251}}</string>
                <key>sourceSize</key>
                <string>{38,251}</string>
            </dict>
            <key>ad8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{27,253}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,253}}</string>
                <key>sourceSize</key>
                <string>{27,259}</string>
            </dict>
            <key>ad9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{27,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,251}}</string>
                <key>sourceSize</key>
                <string>{27,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>ads.png</string>
        </dict>
    </dict>
</plist>
